@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
}
.container{
    width:65%;
    margin: auto;
}